::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #777;
}
* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box; 
    box-sizing:border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font: 14px "Trebuchet MS";
    line-height: 1.5em;
	color: #000000;
    padding: 3px;
    margin: 3px;
}
body {
    background-color: rgb(0, 0, 0);
}
#main {
    width: 800px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
#header {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
}
ul {
    list-style-position: inside;
    padding: 10px;
    margin: 0;
 }
 li {
    padding: 0;
    margin: 0;
 }
a:link, a:visited, a:active {
    color: dodgerblue;
    text-decoration: none;
}
a:hover {
    color: rgb(0, 153, 255);
}
#buttons {
    text-align: right;
}
button {
    transition-duration: 0.2s;
    background-color: #0076fd;
    height: 35px;
    border: 0;
    width: 30%;
    color: white;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
}
button:hover {
    background-color: #00b7ff;
    color: white;
  }
button:disabled {
    background: #d8d6d6;
    color : #ffffff;
}
button:active {
    transform: translateY(2px);
}
input, select {
    background-color: rgb(255, 255, 255);
    border: 1px lightgrey solid;
	color: black;
}                      
input {
    width: 50%;
}
input:focus {
    outline: none;
}              
.labels {
    display: inline-block;
    width: 40%;
    font-weight: bold;
    text-align: right;
}
#heading {
    width: auto;
    text-align: left;
    font-size: 16px;
    font-weight: bolder;
}
.optional {
    margin: 0;
    padding: 0;
}
#mirror, #repository, #global, #command, #filters {
    border: 1px lightgrey solid;
    border-style: solid;
    height: auto;
    padding: 5px;
}
#enableMirror, #enableRepository, #enableGlobal, #enableOptional {
    text-align: right;
    width: auto;
}
#trustDownloadedFilesInRepositoryTemp, #mirrorOnlyLevelUpdates {
    width: auto;
}
#languages {
    width: 100px;
}
#outputWindows, #outputLinux {
    width: auto;
    text-align: right;
}
textarea {
    font: 14px "Lucida Console";
    color: white;
    background-color: rgb(70, 70, 70);
    width: 99%;
    padding: 10px;
    resize: none;
    outline: none;
    border: 0;
    height: auto;
}
.platforms {
    font-size: 14px;
    width: auto;
    font-weight: bold;
}
#info {
    text-align: left;
    background-color: lightblue;
    display: block;
}
#saveButton {
    display: none;
}